.about-section {
  padding: 6rem 10rem;
  background-color: #f5f5f5;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about-title {
  font-size: 2.5rem;
  text-align: center;
  color: var(--blue-gray);
  text-transform: uppercase;
  letter-spacing: 4px;
  position: relative;
  width: 40%;
}
.about-title::before {
  content: '';
  position: absolute;
  background-color: var(--yellow);
  height: 3px;
  width: 70%;
  left: 0;
  top: 50%;
  transform: translate(-110%, -50%);
}
.about-title::after {
  content: '';
  position: absolute;
  background-color: var(--yellow);
  height: 3px;
  width: 70%;
  right: 0;
  top: 50%;
  transform: translate(110%, -50%);
}

.about-wrapper {
  max-width: 100%;
  margin: 0 auto;
}

.about-container-mobile {
  display: none;
}

.about-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  margin-top: 6rem;
}
#portrait-image img {
  object-fit: cover;
  max-height: 400px;
}
.about-image {
  display: flex;
  width: 45%;
  overflow: hidden;
}
.about-image img {
  width: 100%;
}
.about-image:nth-child(odd) {
  box-shadow: -30px 30px 0 var(--army-green);
}
.about-image:nth-child(even) {
  box-shadow: 30px 30px 0 var(--army-green);
}

.about-textbox {
  width: 50%;
  text-align: center;
}
.about-textbox h2 {
  color: var(--orange-red);
  text-transform: uppercase;
  font-size: 2rem;
  letter-spacing: 3px;
}
.about-textbox p {
  color: var(--blue-gray);
  background-color: #dbdbdb;
  padding: 1rem;
  font-size: 1.4rem;
  letter-spacing: 1px;
  line-height: 2.3rem;
  margin-top: 1rem;
}

@media only screen and (min-width: 1900px) {
  html {
    font-size: 19px;
  }
  .about-section {
    padding: 6rem 25rem;
  }
  .about-container {
    margin-top: 9rem;
  }
}

@media only screen and (max-width: 1390px) {
  html {
    font-size: 14px;
  }
}
@media only screen and (max-width: 1100px) {
  html {
    font-size: 12px;
  }
}

@media only screen and (max-width: 580px) {
  html {
    font-size: 14px;
  }
  .about-section {
    padding: 4rem 1rem;
  }
  .about-wrapper {
    padding: 0 2rem;
  }
  .about-container {
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  .about-container-mobile {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
    margin-top: 6rem;
    width: 100%;
  }
  .about-container-mobile .about-image {
    box-shadow: 30px 30px 0 var(--army-green);
  }
  #container2 {
    display: none;
  }
  .about-textbox {
    width: 100%;
  }
  .about-image {
    width: 100%;
  }
  #portrait-image img {
    max-height: 300px;
  }
}
