.process-section {
  background-color: #f5f5f5;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 6rem 10rem;
  background-image: url('/images/bg.jpg');
  background-position: 50% 30%;
  background-repeat: no-repeat;
  height: 140vh;
}

.process-title {
  font-size: 2.5rem;
  text-align: center;
  color: var(--blue-gray);
  text-transform: uppercase;
  letter-spacing: 4px;
  position: relative;
  width: 40%;
}
.process-title::before {
  content: '';
  position: absolute;
  background-color: var(--yellow);
  height: 3px;
  width: 70%;
  left: 0;
  top: 50%;
  transform: translate(-110%, -50%);
}
.process-title::after {
  content: '';
  position: absolute;
  background-color: var(--yellow);
  height: 3px;
  width: 70%;
  right: 0;
  top: 50%;
  transform: translate(110%, -50%);
}

.process-wrapper {
  display: flex;
  justify-content: space-between;
  /* max-width: 1350px; */
  margin-top: 6rem;
}
.process-block {
  width: 30%;
  text-align: center;
  background-color: #f5f5f5;
  border-radius: 10px;
  position: relative;
  z-index: 1;
  transition: all ease 300ms;
  opacity: 0.9;
}
.process-block:hover {
  transform: scale(1.03);
  opacity: 1;
}
.process-block:hover h3 {
  color: var(--orange);
}
.process-block img {
  width: 100%;
  object-fit: cover;
  border-radius: 10px 10px 0 0;
}
.process-block h3 {
  text-transform: uppercase;
  letter-spacing: 2px;
  color: var(--army-green);
  font-size: 1.5rem;
  padding: 1rem;
  transition: color ease 300ms;
}
.process-block p {
  font-size: 1.1rem;
  color: var(--blue-gray);
  line-height: 2rem;
  padding: 0 1rem 1rem;
}

#process1::before {
  content: '1';
  background-color: var(--army-green);
  width: 75px;
  height: 75px;
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2.5rem;
  font-weight: 700;
  color: #f5f5f5;
  z-index: 5;
}
#process2::before {
  content: '2';
  background-color: var(--army-green);
  width: 75px;
  height: 75px;
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2.5rem;
  font-weight: 700;
  color: #f5f5f5;
  z-index: 5;
}
#process3::before {
  content: '3';
  background-color: var(--army-green);
  width: 75px;
  height: 75px;
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2.5rem;
  font-weight: 700;
  color: #f5f5f5;
  z-index: 5;
}

@media only screen and (min-width: 1900px) {
  html {
    font-size: 19px;
  }
  .process-section {
    padding: 6rem 25rem;
  }
}

@media only screen and (max-width: 580px) {
  html {
    font-size: 15px;
  }
  .process-section {
    padding: 4rem 1rem;
    height: 160vh;
    /* justify-content: flex-start; */
  }
  .process-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .process-block {
    width: 90%;
    margin-bottom: 4rem;
    opacity: 0.95;
  }
  #process1::before {
    width: 50px;
    height: 50px;
    font-size: 2rem;
  }
  #process2::before {
    width: 50px;
    height: 50px;
    font-size: 2rem;
  }
  #process3::before {
    width: 50px;
    height: 50px;
    font-size: 2rem;
  }
}

@media only screen and (max-width: 380px) {
  html {
    font-size: 12px;
  }
}
