.services-section {
  background-color: #f5f5f5;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 6rem 10rem;
}

.services-title {
  font-size: 2.5rem;
  text-align: center;
  color: var(--blue-gray);
  text-transform: uppercase;
  letter-spacing: 4px;
  position: relative;
  width: 40%;
}
.services-title::before {
  content: '';
  position: absolute;
  background-color: var(--yellow);
  height: 3px;
  width: 70%;
  left: 0;
  top: 50%;
  transform: translate(-110%, -50%);
}
.services-title::after {
  content: '';
  position: absolute;
  background-color: var(--yellow);
  height: 3px;
  width: 70%;
  right: 0;
  top: 50%;
  transform: translate(110%, -50%);
}

@media only screen and (min-width: 1900px) {
  html {
    font-size: 19px;
  }
  .services-section {
    padding: 6rem 35rem;
  }
}
