/* 
COLORS: 
--orange-red: #e34a27
--orange: #fea655
--yellow: #ffd98e
--blue-gray: #566357
--army-green: #909473
*/

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&display=swap');

:root {
  --orange-red: #e34a27;
  --orange: #fea655;
  --yellow: #ffd98e;
  --blue-gray: #566357;
  --army-green: #909473;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  background-color: #dbdbdba4;
  font-family: 'Open Sans', sans-serif;
  position: relative;
}

section {
  padding: 6rem 10rem;
}

/* HEADER */
header nav {
  background-color: rgb(245, 245, 245, 0.85);
  display: flex;
  align-items: center;
  padding: 0 8rem;
  height: 15vh;
  z-index: 5;
}

.nav-links {
  display: flex;
  justify-content: space-around;
  width: 40%;
}
.nav-links li {
  list-style-type: none;
}
.nav-links li a {
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: 3px;
  text-decoration: none;
  color: var(--army-green);
  font-weight: 600;
  transition: color 350ms ease;
}
.nav-links li a:hover {
  color: var(--orange);
}

.logo {
  width: 15%;
  height: 100%;
}
.logo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* JUMBOTRON SECTION */
.jumbotron-section {
  height: 100vh;
}
.jumbotron-section img {
  height: 115vh;
  width: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

/* WELCOME SECTION */
.welcome-section {
  padding: 0rem 10rem 2rem;
  height: 100vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.avatar-picture {
  /* display: inline-block; */
  max-width: 43%;
}
.avatar-picture img {
  width: 100%;
  border-radius: 50px;
  transform: scale(0.8);
  /* object-fit: cover; */
}

.welcome-text-box {
  min-width: 48%;
}
.welcome-text-box h2 {
  font-size: 3rem;
  letter-spacing: 3px;
  color: var(--blue-gray);
  text-align: center;
}
.welcome-text-box h3 {
  margin-top: 1.5rem;
  font-size: 1.5rem;
  letter-spacing: 3.5px;
  color: var(--army-green);
  text-align: center;
  text-transform: uppercase;
  font-weight: 400;
}
.welcome-text-box p {
  margin-top: 2rem;
  font-size: 1.1rem;
  line-height: 2.5rem;
  letter-spacing: 1.5px;
  text-align: center;
  color: var(--blue-gray);
}

/* SERVICES OFFERED SECTION */
.services-offered-section {
  padding: 6rem 10rem;
  height: 80vh;
  background-color: #f5f5f5;
}
.services-offered-section h2 {
  font-size: 1.8rem;
  color: var(--army-green);
  letter-spacing: 3px;
  text-transform: uppercase;
  text-align: center;
  position: relative;
}
.services-offered-section h2::before {
  content: '';
  width: 30%;
  background-color: var(--yellow);
  height: 3px;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translate(0, -50%);
}
.services-offered-section h2::after {
  content: '';
  width: 30%;
  background-color: var(--yellow);
  height: 3px;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translate(0, -50%);
}

.services {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 3rem;
}

.service-card {
  width: 28%;
  text-align: center;
  transition: transform 400ms ease;
}
.service-card:hover {
  transform: scale(1.03);
}
.service-card:hover h3 {
  color: var(--orange);
}
.service-card img {
  width: 100%;
  min-height: 300px;
  max-height: 450px;
  border-radius: 10px;
  object-fit: cover;
}
.service-card h3 {
  margin-top: 1.5rem;
  background-color: #dbdbdba4;
  border-radius: 5px;
  letter-spacing: 2px;
  padding: 1rem 2.2rem;
  text-transform: uppercase;
  font-size: 1rem;
  color: var(--army-green);
  transition: color 400ms ease;
}
.service-card p {
  margin-top: 1.5rem;
  color: var(--blue-gray);
  line-height: 1.8rem;
}

/* TESTIMONIALS SECTION */
.testimonials-section h2 {
  text-align: center;
  color: var(--blue-gray);
  text-transform: uppercase;
  letter-spacing: 3px;
}

.testimonial {
  display: flex;
  justify-content: space-between;
  margin-top: 8rem;
}

.testimonial-text {
  color: var(--army-green);
  font-size: 1.5rem;
  text-align: center;
}

/* CONTACT FORM SECTION */
.contact-section {
  background-color: #f5f5f5;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 6rem 10rem;
}

.contact-section h2 {
  font-size: 1.8rem;
  color: var(--army-green);
  letter-spacing: 3px;
  text-transform: uppercase;
  text-align: center;
  position: relative;
  width: 40%;
}
.contact-section h2::before {
  content: '';
  width: 70%;
  background-color: var(--yellow);
  height: 3px;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translate(-110%, -50%);
}
.contact-section h2::after {
  content: '';
  width: 70%;
  background-color: var(--yellow);
  height: 3px;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translate(110%, -50%);
}

.container {
  /* display: flex;
  justify-content: space-between;
  align-items: center; */

  display: grid;
  grid-template-columns: 1.2fr 2fr;
  overflow: hidden;
  align-items: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.85);
  margin-top: 3rem;
  border-radius: 10px;
  width: 100%;
}
.image-block {
  display: flex;
}

.image-block img {
  max-width: 100%;
}

.contact-form {
  width: 80%;
  margin: 0 auto;
  padding: 1.5rem;
}

.contact-form label,
.contact-form input,
.contact-form textarea {
  display: block;
  margin-bottom: 1rem;
  width: 100%;
}
.contact-form input,
.contact-form textarea {
  border-radius: 5px;
  border: none;
  border: 1.5px solid var(--orange);
}

.contact-form input {
  height: 1rem;
  padding: 1.2rem 0.6rem;
  font-size: 1.2rem;

  color: var(--blue-gray);
}
.contact-form input:focus {
  outline: 1px solid var(--orange-red);
  color: var(--blue-gray);
}
.contact-form textarea:focus {
  outline: 1px solid var(--orange-red);
  color: var(--blue-gray);
}
.contact-form label {
  color: var(--blue-gray);
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 700;
}
.contact-form textarea {
  padding: 0.6rem;
  font-size: 1.2rem;
  font-family: inherit;
  color: var(--blue-gray);
  resize: none;
}

button {
  background-color: var(--army-green);
  color: #f5f5f5;
  padding: 1rem 2rem;
  font-size: 1rem;
  border: none;
  border-radius: 10px;
  text-transform: uppercase;
  letter-spacing: 2px;
  transition: all 250ms ease;
  margin-top: 0.5rem;
}
button:hover {
  color: var(--yellow);
  background-color: var(--blue-gray);
  cursor: pointer;
}
