/* 
COLORS: 
--orange-red: #e34a27
--orange: #fea655
--yellow: #ffd98e
--blue-gray: #566357
--army-green: #909473
*/

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&display=swap');

:root {
  --orange-red: #e34a27;
  --orange: #fea655;
  --yellow: #ffd98e;
  --blue-gray: #566357;
  --army-green: #909473;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  background-color: #dbdbdba4;
  font-family: 'Open Sans', sans-serif;
  position: relative;
}

section {
  padding: 6rem 10rem;
}

.learn-more {
  display: inline-block;
  background-color: var(--army-green);
  color: #f5f5f5;
  padding: 1rem 2rem;
  font-size: 1rem;
  border: none;
  border-radius: 10px;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-align: center;
  transition: all 250ms ease;
  text-decoration: none;
  margin-top: 2rem;
}
.learn-more:hover {
  color: var(--yellow);
  background-color: var(--blue-gray);
  cursor: pointer;
}

/* MOBILE NAV */
.mobile-nav {
  display: none;
  background-color: rgb(245, 245, 245, 0.85);
  flex-direction: column;
  align-items: center;
  padding: 0 2rem 1rem;
  z-index: 5;
}
.mobile-nav .nav-links {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2rem;
}
.mobile-nav .logo {
  width: 35%;
  height: auto;
  margin: 1.5rem 0;
}

/* HEADER */
.desktop-nav-bar {
  background-color: rgb(245, 245, 245, 0.85);
  display: flex;
  align-items: center;
  padding: 0 8rem;
  height: 15vh;
  z-index: 5;
}

.desktop-nav-bar .nav-links {
  display: flex;
  justify-content: space-around;
  width: 45%;
}
.nav-links li {
  list-style-type: none;
}
.nav-links li a {
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: 3px;
  text-decoration: none;
  color: var(--army-green);
  font-weight: 600;
  transition: color 350ms ease;
}
.nav-links li a:hover {
  color: var(--orange);
}

.logo {
  width: 10%;
  height: auto;
  margin: 1.5rem 0;
}
.logo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.logo img:hover {
  cursor: pointer;
}

/* JUMBOTRON SECTION */
.jumbotron-section {
  height: 100vh;
}
.jumbotron-section img {
  height: 115vh;
  width: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

/* WELCOME SECTION */
.welcome-section {
  padding: 6rem 10rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.welcome-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.avatar-picture {
  /* display: inline-block; */
  max-width: 43%;
}
.avatar-picture img {
  width: 100%;
  /* max-height: 1170px; */
  border-radius: 50px;
  transform: scale(0.8);
  /* object-fit: cover; */
}

.avatar-picture-mobile {
  display: none;
}

.avatar-picture-mobile img {
  width: 350px;
  height: 350px;
  object-fit: cover;
}

.welcome-text-box {
  min-width: 48%;
  text-align: center;
}
.welcome-text-box h2 {
  font-size: 3rem;
  letter-spacing: 3px;
  color: var(--blue-gray);
}
.welcome-text-box h3 {
  margin-top: 1.5rem;
  font-size: 1.5rem;
  letter-spacing: 3.5px;
  color: var(--army-green);
  text-transform: uppercase;
  font-weight: 400;
}
.welcome-text-box p {
  margin-top: 2rem;
  font-size: 1.1rem;
  line-height: 2.5rem;
  letter-spacing: 1.5px;
  text-align: center;
  color: var(--blue-gray);
}

/* SERVICES OFFERED SECTION */
.services-offered-section {
  padding: 6rem 10rem;
  background-color: #f5f5f5;
  text-align: center;
}
.services-offered-section .learn-more {
  margin-top: 4rem;
}
.services-offered-section h2 {
  display: inline-block;
  font-size: 1.8rem;
  color: var(--army-green);
  letter-spacing: 3px;
  text-transform: uppercase;
  text-align: center;
  position: relative;
  width: 40%;
}
.services-offered-section h2::before {
  content: '';
  width: 70%;
  background-color: var(--yellow);
  height: 3px;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translate(-110%, -50%);
}
.services-offered-section h2::after {
  content: '';
  width: 70%;
  background-color: var(--yellow);
  height: 3px;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translate(110%, -50%);
}

.services {
  display: flex;
  justify-content: space-between;
  margin-top: 3rem;
}

.service-card {
  width: 28%;
  text-align: center;
  transition: transform 400ms ease;
}
.service-card:hover {
  transform: scale(1.03);
}
.service-card:hover h3 {
  color: var(--orange);
}
.service-card img {
  width: 100%;
  height: 350px;
  border-radius: 10px;
  object-fit: cover;
}
.service-card h3 {
  margin-top: 1.5rem;
  background-color: #dbdbdba4;
  border-radius: 5px;
  letter-spacing: 2px;
  padding: 1rem 2.2rem;
  text-transform: uppercase;
  font-size: 1rem;
  color: var(--army-green);
  transition: color 400ms ease;
}
.service-card p {
  margin-top: 1.5rem;
  color: var(--blue-gray);
  line-height: 1.8rem;
}

/* TESTIMONIALS SECTION */
.testimonials-section {
  text-align: center;
}

.testimonials-section h2 {
  color: var(--blue-gray);
  text-transform: uppercase;
  letter-spacing: 3px;
}

.testimonial {
  display: flex;
  justify-content: space-between;
  margin-top: 8rem;
}

.testimonial-text {
  color: var(--army-green);
  font-size: 1.5rem;
}

/* CONTACT FORM SECTION */
.contact-section {
  background-color: #f5f5f5;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 6rem 10rem;
}

.contact-section h2 {
  font-size: 1.8rem;
  color: var(--army-green);
  letter-spacing: 3px;
  text-transform: uppercase;
  text-align: center;
  position: relative;
  width: 40%;
}
.contact-section h2::before {
  content: '';
  width: 70%;
  background-color: var(--yellow);
  height: 3px;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translate(-110%, -50%);
}
.contact-section h2::after {
  content: '';
  width: 70%;
  background-color: var(--yellow);
  height: 3px;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translate(110%, -50%);
}

.container {
  /* display: flex;
  justify-content: space-between;
  align-items: center; */

  display: grid;
  grid-template-columns: 1.2fr 2fr;
  overflow: hidden;
  align-items: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.85);
  margin-top: 3rem;
  border-radius: 10px;
  width: 100%;
  max-width: 1370px;
}
.image-block {
  display: flex;
  height: 100%;
}

.image-block img {
  max-width: 100%;
  object-fit: cover;
}

.contact-form {
  width: 80%;
  margin: 0 auto;
  padding: 1.5rem;
}

.contact-form label,
.contact-form input,
.contact-form textarea {
  display: block;
  margin-bottom: 1rem;
  width: 100%;
}
.contact-form input,
.contact-form textarea {
  border-radius: 5px;
  /* border: none; */
  /* border-bottom: 1.5px solid var(--orange); */
  border: 1.5px solid var(--orange);
}

.contact-form input {
  height: 1rem;
  padding: 1.2rem 0.6rem;
  font-size: 1.2rem;
  color: var(--blue-gray);
  transition: all 300ms ease;
}
.contact-form input:hover {
  outline: 1px solid var(--orange-red);
}
.contact-form textarea:hover {
  outline: 1px solid var(--orange-red);
}
.contact-form input:focus {
  outline: 1px solid var(--orange-red);
  color: var(--blue-gray);
}
.contact-form textarea:focus {
  outline: 1px solid var(--orange-red);
  color: var(--blue-gray);
}
.contact-form label {
  color: var(--blue-gray);
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 700;
}
.contact-form textarea {
  padding: 0.6rem;
  font-size: 1.2rem;
  font-family: inherit;
  color: var(--blue-gray);
  resize: none;
  transition: all 300ms ease;
}

button {
  background-color: var(--army-green);
  color: #f5f5f5;
  padding: 1rem 2rem;
  font-size: 1rem;
  border: none;
  border-radius: 10px;
  text-transform: uppercase;
  letter-spacing: 2px;
  transition: all 250ms ease;
  margin-top: 0.5rem;
}
button:hover {
  color: var(--yellow);
  background-color: var(--blue-gray);
  cursor: pointer;
}

/* FOOTER SECTION */
footer {
  height: 40vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: var(--blue-gray);
  padding: 5rem 10rem;
}

.footer-links {
  display: flex;
  justify-content: space-around;
  width: 75%;
}
.footer-links li {
  list-style-type: none;
}
.footer-links li a {
  font-size: 1.1rem;
  text-transform: uppercase;
  letter-spacing: 3px;
  text-decoration: none;
  color: var(--yellow);
  font-weight: 600;
  transition: color 350ms ease;
}
.footer-links li a:hover {
  color: var(--orange);
}

.social-links {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  color: #f5f5f5;
  width: 50%;
}

.social-links h3 {
  color: #f5f5f5;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 2.1rem;
}
.social-links i {
  font-size: 2.7rem;
  transition: color 200ms ease;
}
.social-links i:hover {
  color: var(--orange);
  cursor: pointer;
}
.social-links a {
  color: #f5f5f5;
}
.social-links a:visited {
  color: #f5f5f5;
}

/* MEDIA QUERIES */
/* My laptop size
@media only screen and (min-width: 1440) {
  html {
    font-size: 17rem;
  }
} */

/* Larger monitors */
@media only screen and (min-width: 1900px) {
  html {
    font-size: 19px;
  }
  header nav {
    padding: 0 25rem;
  }
  .welcome-section {
    padding: 0 25rem;
  }
  .services-offered-section {
    padding: 6rem 25rem;
  }
  .testimonials-section {
    padding: 6rem 25rem;
  }
  .contact-section {
    padding: 6rem 25rem;
  }
  footer {
    height: 30vh;
    padding: 4rem 10rem;
  }
}

@media only screen and (max-height: 700px) {
  footer {
    height: 50vh;
    padding: 1rem;
  }
}

@media only screen and (max-width: 1400px) {
  .welcome-section {
    padding: 4rem 2rem;
  }
  .services-offered-section {
    padding: 4rem 2rem;
  }
  .testimonials-section {
    padding: 4rem 2rem;
  }
  .contact-section {
    padding: 4rem 2rem;
  }
  footer {
    padding: 4rem 1rem;
    height: 20vh;
  }
}

/* IPAD AND TABLET SIZE */
@media only screen and (min-width: 581px) and (max-width: 1024px) and (orientation: portrait) {
  html {
    font-size: 14px;
  }
  .desktop-nav-bar {
    padding: 0 4rem;
  }
  .welcome-section {
    padding: 3rem 2rem 3rem 1rem;
  }
  .services-offered-section {
    padding: 4rem 1rem;
  }
  .service-card img {
    max-height: 250px;
  }
  .testimonials-section {
    padding: 4rem 1rem;
  }
  .contact-section {
    padding: 4rem 1rem;
  }
  footer {
    padding: 2rem 1rem;
    justify-content: space-around;
  }
}

@media only screen and (max-width: 580px) {
  html {
    font-size: 15px;
  }
  .mobile-nav {
    display: flex;
  }
  .desktop-nav-bar {
    display: none;
  }
  .jumbotron-section {
    padding: 2rem 1rem;
    height: 85vh;
  }
  /* WELCOME SECTION */
  .welcome-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 4rem 2rem;
  }
  .avatar-picture {
    display: none;
  }
  .avatar-picture-mobile {
    display: block;
    margin-top: 1.5rem;
  }
  .avatar-picture-mobile img {
    border-radius: 10px;
    width: 100%;
    object-fit: cover;
    object-position: 50% 40%;
  }
  /* SERVICES OFFERED SECTION */
  .services-offered-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 4rem 1rem;
  }
  .services-offered-section .learn-more {
    margin-top: 1rem;
  }
  .services-offered-section h2 {
    width: 90%;
  }
  .services-offered-section h2::before {
    width: 0;
  }
  .services-offered-section h2::after {
    width: 0;
  }
  .services {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
  }
  .service-card {
    width: 100%;
    margin-bottom: 3.5rem;
  }
  /* TESTIMONIAL SECTION */
  .testimonials-section {
    padding: 4rem 2rem;
  }
  /* CONTACT SECTION */
  .contact-section {
    padding: 4rem 1rem;
  }
  .contact-section h2 {
    width: 90%;
  }
  .contact-section h2::before {
    width: 0;
  }
  .contact-section h2::after {
    width: 0;
  }
  .container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1.5fr;
  }
  .image-block {
    width: auto;
    max-height: 400px;
  }
  .image-block img {
    object-fit: cover;
    object-position: 50% 40%;
    width: 100%;
  }
  .contact-form {
    width: 100%;
  }
  /* FOOTER */
  footer {
    padding: 2rem 1rem;
    height: 30vh;
    justify-content: center;
  }
  .social-links {
    width: 90%;
  }
  .social-links h3 {
    font-size: 1.5rem;
    text-align: center;
  }
  .footer-links {
    display: none;
  }
}
